@{
    ViewBag.Title = "title";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="~/AngularApp/Category/app.js"></script>
<div ng-app="Category">
     @Html.Hidden("ID_")
    <div ng-controller="CategoryController" ng-init="GetAllData('')">
        <div class="row">
            <input class="col-md-4" id="txtSearch" placeholder="Nhập từ khóa cần tìm"/>
            <input type="submit" value="Tìm kiếm" class="btn btn-success col-md-1" ng-click="GetAllData(document.getElementById('txtSearch').value.toString())"/>
        </div>
        <br/>
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  Thêm
                </button>
        <table cellpadding="12" class="table-bordered table-hover table">
            <tr>
                <th>ID</th>
                <th>Tên danh mục</th>
                <th>Tùy chọn</th>
            </tr>
            <tr ng-repeat="item in CategoryList">
                <td>{{item.ID}}</td>
                <td>{{item.Name}}</td>
                <td>
                    <input type="button" class="btn btn-warning" value="Update" ng-click="UpdateData(item)" data-toggle="modal" data-target = "#exampleModal"/>
                    <input type="button" class="btn btn-danger" value="Delete" ng-click="DeleteData(item)"/>
                </td>
            </tr>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-horizontal" role="form">
                           <div class="container">
                               <div class="row">
                                   <div class="col-md-4 col-lg-4 col-sm-4">
                                       <div class="form-group">
                                           <label class="col-md-4 control-label">Tên loại:</label>
                                           <div class="col-md-8">
                                              <input type="text" class="form-control" placeholder="Nhập danh mục" ng-model="Name_"/>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                 <input type="button" id="btnSave" class="btn btn-primary" value="Submit" ng-click="InsertData()"/>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>